@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"> Öne Çıkan Güncelleme İşlemleri</div>
                        </div>
                        <input type="hidden" asp-for="FeatureId" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FeatureTitle1"> 1.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title1" id="FeatureTitle1">

                            </div>
                            <div class="form-group">
                                <label for="FeatureDescription1"> 1.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description1" id="FeatureDescription1">

                            </div>
                            <div class="form-group">
                                <label for="FeatureTitle2"> 2.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title2" id="FeatureTitle2">

                            </div>
                            <div class="form-group">
                                <label for="FeatureDescription2"> 2.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description2" id="FeatureDescription2">

                            </div>
                            <div class="form-group">
                                <label for="FeatureTitle3"> 3.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title3" id="FeatureTitle3">

                            </div>
                            <div class="form-group">
                                <label for="FeatureDescription3"> 3.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description3" id="FeatureDescription3">

                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary col-md-12">Öne Çıkan Bilgisini Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>